@model WebForum.ViewModels.NewPostViewModel

@{
    ViewData["Title"] = "Create Post";
}

<h4>Create Post</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Posts" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TopicId" value="@Model.TopicId">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
