@model WebForum.Models.Post

@{
    ViewData["Title"] = "Post";
}

<div class="container">
    <div class="row">
        <div class="col">
            Author: @Model.Author.Login
        </div>
        <div class="col">
            @Model.DateTime
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            @Model.Content
        </div>
    </div>
</div>
