@model WebForum.Models.Post

@{
    ViewData["Title"] = "Post";
}

<div class="container">
    <div class="row">
        <div class="col">
            Author: @Model.Author.Login
        </div>
        <div class="col">
            @Model.DateTime
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            @{
                var lines = Model.Content.Split("\r\n");
                foreach(var line in lines)
                {
                    @line
                    <br/>
                }
            }
        </div>
    </div>
</div>
