@model WebForum.Models.Topic

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

@foreach (var item in Model.Posts.OrderBy(i => i.DateTime)) 
{
    <hr />
    <partial name="~/Views/Posts/Details.cshtml" model="@item" />
}
<hr />

<partial name="~/Views/Posts/Create.cshtml" model="@new WebForum.ViewModels.NewPostViewModel() { TopicId = Model.Id }" />

<div>
    <a asp-action="Index">Back to List</a>
</div>